<div id="<%= dom_id task %>">
  <div>
    <strong>First name:</strong>
    <%= task.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= task.last_name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= task.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= task.phone %>
  </div>

</div>
